button {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  position: relative;
  padding: 20px 30px;
  background: $black;
  color: $white;

  &:hover {
    background: $gradient;
    color: $black;
  }
}

.btn-alt {
  padding: 20px 0;
}