// Breakpoints
$tablet-min: 768px;
$desktop-min: 1020px;
$large-mobile-min: 400px;

@mixin largeMobile () {
  @media(min-width: $large-mobile-min) {
    @content;
  }
}
@mixin tabletAndDesktop () {
  @media(min-width: $tablet-min) {
    @content;
  }
}
@mixin desktop () {
  @media(min-width: $desktop-min) {
    @content;
  }
}

@mixin fontGradient() {
  display: inline-block;
  background-image: $gradient;
  background-clip: text;
  color: transparent;
}