// Breakpoints
$tablet-min: 768px;

@mixin tabletAndDesktop () {
  @media(min-width: $tablet-min) {
    @content;
  }
}

@mixin fontGradient() {
  display: inline-block;
  background-image: $gradient;
  background-clip: text;
  color: transparent;
}