@import './scss/mixins';
@import './scss/typography';
@import './scss/variables';
@import './scss/globals';
@import './scss/colors';
@import './scss/buttons';
@import './scss/nav';
@import './scss/hero';
@import './scss/footer';
@import './scss/work';
@import './scss/projects';
@import './scss/skills';
@import './scss/about';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-size: 18px;
  color: $gray;
  margin: 0 auto;
  padding: 0;
}

